# Imports

In [4]:
# import libraries here; add more as necessary
# Ignoring warnings
import warnings
warnings.filterwarnings('ignore')

# Data Manipulation
import pandas as pd

# enabling full display of a row content in a data frame
pd.set_option('display.max_colwidth', None)

# Option to suppress scientific notation in Pandas
pd.set_option('display.float_format', lambda x: '%.3f' % x)

import numpy as np
from scipy import stats
import math
import itertools
import random

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import plot_tree

# DevOps modules
import os
import time

# Feature Selection
from sklearn.feature_selection import RFECV
from sklearn.inspection import permutation_importance

# Modelling
# Using a Classifier Chain
from sklearn.multioutput import ClassifierChain

# Using a single multi-output classifier algorithm


from sklearn.linear_model import LinearRegression
from sklearn.linear_model import SGDRegressor
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.svm import SVR

# HyperParameter Tuning
# import optuna

# Data Scaling
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

# magic word for producing visualizations in notebook
%matplotlib inline

In [6]:
# Reading the data
well_df=pd.read_csv('Data/spe_africa_dseats_datathon_2025_wells_dataset.csv')

In [8]:
well_df.head()

,PROD_DATE,WELL_NAME,ON_STREAM_HRS,BOTTOMHOLE_FLOWING_PRESSURE (PSI),DOWNHOLE_TEMPERATURE (deg F),ANNULUS_PRESS (PSI),CHOKE_SIZE (%),WELL_HEAD_PRESSURE (PSI),WELL_HEAD_TEMPERATURE (deg F),CUMULATIVE_OIL_PROD (STB),CUMULATIVE_FORMATION_GAS_PROD (MSCF),CUMULATIVE_TOTAL_GAS_PROD (MSCF),CUMULATIVE_WATER_PROD (BBL)
0,15-Feb-14,Well_#1,0.000,"4,050",189.866,0,1.180,482.46,50.864,0,0,0,0
1,16-Feb-14,Well_#1,0.000,"3,961",189.945,0,2.994,328.601,47.668,0,0,0,0
2,17-Feb-14,Well_#1,0.000,"3,961",190.004,0,1.903,387.218,48.962,0,0,0,0
3,18-Feb-14,Well_#1,0.000,"3,964",190.020,0,0.000,308.98,46.636,0,0,0,0
4,19-Feb-14,Well_#1,0.000,"3,965",190.107,0,30.208,196.057,47.297,0,0,0,0

In [9]:
# Preliminary Informations
print('The Dataset has for {} rows and {} columns'.format(well_df.shape[0], well_df.shape[1]))

The Dataset has for 7955 rows and 13 columns

<a name="Cleaning"></a>
## 1. Data Cleaning

## Shortening the Column Names

In [11]:
# Listing all columns in current training data
well_df.columns

Index(['PROD_DATE', 'WELL_NAME', 'ON_STREAM_HRS',
       'BOTTOMHOLE_FLOWING_PRESSURE (PSI)', 'DOWNHOLE_TEMPERATURE (deg F)',
       'ANNULUS_PRESS (PSI)', 'CHOKE_SIZE (%)', 'WELL_HEAD_PRESSURE (PSI)',
       'WELL_HEAD_TEMPERATURE (deg F)', 'CUMULATIVE_OIL_PROD (STB)',
       'CUMULATIVE_FORMATION_GAS_PROD (MSCF)',
       'CUMULATIVE_TOTAL_GAS_PROD (MSCF)', 'CUMULATIVE_WATER_PROD (BBL)'],
      dtype='object')

In [12]:
# Creating a dictionary to map old names to new names
rename_map={'PROD_DATE':'date', 'WELL_NAME':'well_name', 'ON_STREAM_HRS':'on_str_hrs', 'BOTTOMHOLE_FLOWING_PRESSURE (PSI)':'bottom_hole_psi',
            'DOWNHOLE_TEMPERATURE (deg F)':'downhole_temp', 'ANNULUS_PRESS (PSI)':'Annulus_p', 'CHOKE_SIZE (%)':'choke_size',
            'WELL_HEAD_PRESSURE (PSI)':'whp', 'WELL_HEAD_TEMPERATURE (deg F)':'wht', 'CUMULATIVE_OIL_PROD (STB)':'cumm_oil_stb',
            'CUMULATIVE_FORMATION_GAS_PROD (MSCF)':'cumm_form_gas_mscf', 'CUMULATIVE_TOTAL_GAS_PROD (MSCF)':'cumm_total_gas_mscf', 
            'CUMULATIVE_WATER_PROD (BBL)':'cumm_water_bbl'}

In [13]:
# Renaming columns "INPLACE"
well_df.rename(columns=rename_map, inplace=True)

In [15]:
# Viewing top 5 rows of the data
well_df.head()

,date,well_name,on_str_hrs,bottom_hole_psi,downhole_temp,Annulus_p,choke_size,whp,wht,cumm_oil_stb,cumm_form_gas_mscf,cumm_total_gas_mscf,cumm_water_bbl
0,15-Feb-14,Well_#1,0.000,"4,050",189.866,0,1.180,482.46,50.864,0,0,0,0
1,16-Feb-14,Well_#1,0.000,"3,961",189.945,0,2.994,328.601,47.668,0,0,0,0
2,17-Feb-14,Well_#1,0.000,"3,961",190.004,0,1.903,387.218,48.962,0,0,0,0
3,18-Feb-14,Well_#1,0.000,"3,964",190.020,0,0.000,308.98,46.636,0,0,0,0
4,19-Feb-14,Well_#1,0.000,"3,965",190.107,0,30.208,196.057,47.297,0,0,0,0

## Data Type check

In [25]:
well_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7955 entries, 0 to 7954
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 7955 non-null   object
 1   well_name            7955 non-null   object
 2   on_str_hrs           7955 non-null   float64
 3   bottom_hole_psi      7955 non-null   object
 4   downhole_temp        7955 non-null   float64
 5   Annulus_p            7955 non-null   object
 6   choke_size           7955 non-null   float64
 7   whp                  7955 non-null   object
 8   wht                  7955 non-null   float64
 9   cumm_oil_stb         7955 non-null   object
 10  cumm_form_gas_mscf   7955 non-null   object
 11  cumm_total_gas_mscf  7955 non-null   object
 12  cumm_water_bbl       7955 non-null   object
dtypes: float64(4), object(9)
memory usage: 808.1+ KB

## Observations
1. date should be converted to a date time type
2. bottomhole pressure should be investigated and converted to float
3. Annulus pressure should be investigated and converted to float
4. well head pressure should be investigated and converted to float
5. cummulative oil production should be investigated and converted to float
6. cummulative formation gas production should be investigated and converted to float
7. cummulative total gas should be investigated and converted to float
8. cummulative water production should be investigated and converted to float

In [28]:
#1. 
well_df['date_conv']=pd.to_datetime(well_df['date'], format='%d-%b-%y')
well_df

In [30]:
well_df.columns

Index(['date', 'well_name', 'on_str_hrs', 'bottom_hole_psi', 'downhole_temp',
       'Annulus_p', 'choke_size', 'whp', 'wht', 'cumm_oil_stb',
       'cumm_form_gas_mscf', 'cumm_total_gas_mscf', 'cumm_water_bbl',
       'date_conv'],
      dtype='object')

In [38]:
#2 - 8.
# Float investigation and conversions
to_conv_to_float= ['bottom_hole_psi',
       'Annulus_p', 'whp', 'cumm_oil_stb',
       'cumm_form_gas_mscf', 'cumm_total_gas_mscf', 'cumm_water_bbl']
for col in to_conv_to_float:
    # Using try-except block for investigation
    try:
        well_df[col]=well_df[col].str.replace(',', '')
        well_df[col]=well_df[col].astype('float64')
    except Exception as e:
        print(f"Error in parsing column: {col}")
        raise Exception(e)

# Re-investigating
well_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7955 entries, 0 to 7954
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 7955 non-null   object
 1   well_name            7955 non-null   object
 2   on_str_hrs           7955 non-null   float64
 3   bottom_hole_psi      7955 non-null   float64
 4   downhole_temp        7955 non-null   float64
 5   Annulus_p            7955 non-null   float64
 6   choke_size           7955 non-null   float64
 7   whp                  7955 non-null   float64
 8   wht                  7955 non-null   float64
 9   cumm_oil_stb         7955 non-null   float64
 10  cumm_form_gas_mscf   7955 non-null   float64
 11  cumm_total_gas_mscf  7955 non-null   float64
 12  cumm_water_bbl       7955 non-null   float64
 13  date_conv            7955 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(11), object(2)
memory usage: 870.2+ KB

## Observations
1. There's a comma in the data and pandas is reading that as an object. Solution was to replace ',' with nothing before changing data type. This fixed everything.

   Error in parsing column: bottom_hole_psi -> Exception: could not convert string to float: '4,050'

In [ ]:
# Initial removal of unimportant features. Checking the trend on on stream hours. Our assumption is that it's mostly 24hrs
# Visualizing with a line plot across wells
# plotting the GOR overtime in the different wellbores
sns.relplot(x='date', y='Gas-oil ratio', data=train, hue='WellBore Name', kind='line', height=8, aspect=1)
plt.grid()

In [23]:
# Quickly testing multi-output classifier, can we use seperate count of classes in one label?
# Yes we can, we can try this.

from sklearn.datasets import make_classification
from sklearn.multioutput import MultiOutputClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.utils import shuffle
import numpy as np
X, y1 = make_classification(n_samples=10, n_features=100,
                            n_informative=30, n_classes=3,
                            random_state=1)
y2 = shuffle(y1, random_state=1)
y2[y2==2]=1
y3 = shuffle(y1, random_state=2)

Y = np.vstack((y1, y2, y3)).T
n_samples, n_features = X.shape # 10,100
n_outputs = Y.shape[1] # 3
n_classes = 3
forest = RandomForestClassifier(random_state=1)
multi_target_forest = MultiOutputClassifier(forest, n_jobs=2)
multi_target_forest.fit(X, Y).predict(X)

array([[2, 1, 0],
       [1, 1, 1],
       [2, 1, 0],
       [0, 0, 2],
       [0, 1, 1],
       [0, 0, 2],
       [1, 1, 0],
       [1, 1, 1],
       [0, 0, 2],
       [2, 0, 0]])